# Telegram bot token
BOT_TOKEN=8661047983:AAF7pwm_UD5PNSGY7yvyuaubdPJBUfn5GX0

# Click payment provider token
CLICK_TOKEN=398062629:TEST:999999999_F91D8F69C042267444B74CC0B3C747757EB0E065

# Admin IDs (comma separated)
ADMIN_IDS=6920473195

# Humo card and Telegram API credentials
CARD_NUMBER=9860170104415857
HUMO_BOT_USERNAME=HumoCardBot
HUMO_PHONE=+998334020929
HUMO_PASSWORD=your_humo_password_here
API_ID=39173016
API_HASH=9472edf9b661adbea431f380438f8585

# SQLite database path
DB_PATH=bot_store.db
